PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/salary_maker?retryWrites=true&w=majority
JWT_SECRET=your_super_secure_jwt_secret_key_change_me
ADMIN_EMAIL=admin@salarymaker.com
ADMIN_PASSWORD=Admin@12345
